/* Esto es para que al abrirse tenga una animación smooth */
details::details-content {
  transition: all 1s ease, opacity 1s ease;
  inline-size: 100%;
  overflow: hidden;
}

details:not([open])::details-content {
  block-size: 0;
  opacity: 0;
}

details[open]::details-content {
  block-size: auto;
  opacity: 1;
}

/* TODO Terminar el fade */
.fade {
  position: absolute;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  height: 30px;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 101;
}

.main_container {

  z-index: 100;
  /* background: #ffffff;*/
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.subcategories_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  gap: 20px;
}

.categories_container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.ham_menu {
  display: block;
  transition: height 1s ease, content-visibility 1s allow-discrete;
  
}

.details::details-content {
  height: 0;
  overflow: clip;
  transition: height 1s ease, content-visibility 1s allow-discrete;
}

.details {
  margin: 0;
  z-index: 100;
  background: #ffffff;
  backdrop-filter: blur(30px);
}

.details_content{
  
  left:0;
}

.details[open]::details-content {
  height: auto;
}

.desk_menu {
  display: none;
  transition: height 1s ease, content-visibility 1s allow-discrete;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .ham_menu {
    display: none;
  }

  .fade {
    display: none;
  }

  .desk_menu {
    display: block;
  }


  .categories_container {

    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}