@import "tailwindcss";

:root {
    --background: #fafafa;
    --foreground: #121212;
    --card-background: #ffffff;
    --border-color: #e4e4e7;
    --muted-foreground: #71717a;

    --product-card-background: #ffffff;
    --product-card-buy-button-foreground: #ffffff;
    --product-card-buy-button-background: #121212;
    --product-card-buy-button-foreground_disabled: #a1a1aa;
    --product-card-buy-button-background_disabled: #e4e4e7;
    --product-card-name: #121212;
    --product-card-price: #18181b;

    --product-card-discount-background: #e11d48;
    --product-card-discount-foreground: #ffffff;
    --product-card-dot-container: rgba(0, 0, 0, 0.45);
    --product-card-unactive-dot: rgba(255, 255, 255, 0.5);
    --product-card-active-dot: #ffffff;

    --product_view_variant_name_bg: #ffffff;
    --product_view_variant_name_border: #18181b;
    --product_view_variant_name_foreground: #18181b;

    --product_view_variant_name_bg_disabled: #f4f4f5;
    --product_view_variant_name_border_disabled: #d4d4d8;
    --product_view_variant_name_foreground_disabled: #a1a1aa;

    --hero-foreground: #121212;
    --hero-muted-foreground: #71717a;
    --hero-primary: #121212;
    --hero-primary-foreground: #ffffff;
    --hero-border: #e4e4e7;
    --hero-secondary-hover: #f4f4f5;

    --footer-foreground: #121212;
    --footer-muted-foreground: #71717a;
    --footer-border: #e4e4e7;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  interpolate-size: allow-keywords;
}

/* Para Chrome, Edge y Safari */
summary::-webkit-details-marker {
  display: none;
}

/* Para Firefox y estándar moderno */
summary {
  list-style: none;
}

details:active {
  border: 0;
  outline: 0;
}

@media screen and (min-width: 860px) {
  html {
      font-size: 80%;
  }
}